<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LAEP</title>
    <link rel="stylesheet" href="../job.css">
    <link rel="stylesheet" href="../mediaqueries.css">
</head>

<body>
    <nav id="desktop-nav">
        <div class="logo">Andres Hinojosa - LAEP</div>
        <div>
            <ul class="nav-links">
                <li><a href="../">Home</a></li>
            </ul>
        </div>
    </nav>

    <nav id="hamburger-nav">
        <div class="logo" style="font-size: medium;">Andres Hinojosa - LAEP</div>
        <div class="hamburger-menu">
            <div>
                <ul class="nav-links">
                    <li><a href="../">Home</a></li>
                </ul>
            </div>
            
        </div>
    </nav>


</body>

</html>